* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

h1,
h1,
p {
  text-align: center;
  color: var(--primary-color);
}

body {
  margin: 0;
  background-color: #fffdd0;
}
