.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .skills {
  text-align: center;
}

.content h1 {
  font-weight: lighter;
  font-size: 3rem;
}

.content h1 span {
  font-weight: 700;
  /* color: var(--blue-color); */
}

.content h2 {
  font-size: 1rem;
  color: #6a6a6a;
}
