.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content .aboutme {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.content h1 {
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
}

.content h1 span {
  font-weight: 700;
  /* color: var(--blue-color); */
}

.content h2 {
  font-size: 1rem;
  text-align: center;
  color: var(--grey-color);
}

@media (max-width: 400px) {
  .content h1 {
    font-size: 2rem;
  }
}
