.footer {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
}

.innerFooter {
  margin: 1rem;
}

.innerFooter > * {
  margin: 1rem;
}

.innerFooter > a {
  color: var(--primary-color);
  text-decoration: none;
}

.innerFooter > a:hover {
  text-decoration: underline;
}
